main{
    border: 5px solid rgb(69, 39, 75);
    border-radius: 30px;
    background-color: rgb(167, 167, 235);
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
    background-image: url(_.jpeg);
    margin-top: 200px;
}
h1{
    text-align: center;
    color: rgb(69, 39, 75);
}
button {
    text-align: center;
    background-color: rgb(225, 191, 236);
    border: 3px solid rgb(167, 167, 235);
    height: 50px;
    width: 50px;
    border-radius: 20px;

}
.calculadora{
    text-align: center;
}
#visor{
    border: black solid 2px;
    background-color: aliceblue;
    height: 40px;
    width: 250px;
}